.overlay {
    position: fixed;
    top: 0;
    left: 272px;
    /* dejar libre el sidebar */
    width: calc(100% - 266px);
    height: 100vh;

    backdrop-filter: blur(0px);

    background: rgba(15, 12, 41, 0.55);

    transition: backdrop-filter 0.8s ease-in-out, background-color 0.8s ease-in-out;

    z-index: 100;
    opacity: 0;
    pointer-events: none;
}

.overlay.visible {
    backdrop-filter: blur(5px);
    background: rgba(15, 12, 41, 0.75);
    opacity: 1;
    pointer-events: auto;
}


/* MODAL */

.modal {
    position: fixed;
    top: 50%;
    left: 58.5%;
    transform: translate(-50%, -50%);

    background: linear-gradient(160deg, #0f0c29, #1a1040, #24243e);

    padding: 35px;

    border-radius: 18px;

    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.45);

    z-index: 101;

    width: 360px;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #f1f5f9;
}


/* BOTON CERRAR */

.cerrar-modal {

    position: absolute;

    padding-top: 5px;

    top: 12px;
    right: 12px;

    background: #ef4444;

    color: white;

    border: none;

    border-radius: 30%;

    font-size: 17px;

    width: 30px;
    height: 30px;

    cursor: pointer;

    transition: 0.2s;
}

.cerrar-modal:hover {
    background: #dc2626;
}


/* TITULO */

.titulo-modal {

    font-size: 22px;

    font-weight: 700;

    margin-bottom: 20px;

    color: #f1f5f9;
}


/* FORMULARIO */

.formulario-modal {

    width: 100%;

    display: flex;

    flex-direction: column;

    gap: 10px;
}


.formulario-modal label {

    padding-left: 25px;

    font-size: 15px;

    font-weight: 600;

    color: #cbd5f5;
}


/* INPUTS */

.formulario-modal input {

    padding: 12px 10px;

    border: 1px solid rgba(255, 255, 255, 0.2);

    border-radius: 8px;

    font-size: 16px;

    margin: 0 20px;

    background: rgba(255, 255, 255, 0.08);

    color: white;

    transition: 0.2s;
}

.formulario-modal input:focus {

    outline: none;

    border: 1px solid #60a5fa;

    box-shadow: 0 0 0 2px rgba(96, 165, 250, 0.2);

}


/* BOTON GUARDAR */

.btn-guardar {

    margin: 18px auto 0;

    background: linear-gradient(to right, #2563eb, #3b82f6);

    color: white;

    border: none;

    padding: 10px 24px;

    border-radius: 10px;

    font-size: 15px;

    font-weight: 600;

    cursor: pointer;

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 6px;

    box-shadow: 0 4px 10px rgba(37, 99, 235, 0.35);

    transition: 0.25s;
}

.btn-guardar:hover {

    background: linear-gradient(to right, #1d4ed8, #2563eb);

    transform: translateY(-1px);

}


/* MENSAJES */

.mensaje-exito {

    color: #22c55e;

    margin-top: 10px;

    font-weight: bold;

    text-align: center;
}

.mensaje-error {

    color: #ef4444;

    margin-top: 10px;

    font-weight: bold;

    text-align: center;
}