.top-header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #0f172a;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #334155;
}

.empresa-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.empresa-logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #334155;
}

.business-name {
  font-size: 26px;
  font-weight: 600;
  color: #f1f5f9;
}